@tailwind base;
@tailwind components;
@tailwind utilities;

.conical-image {
    background-position: bottom;
}

body button[data-selected=true] span {
    @apply !bg-green-1000 font-montserrat
}

div button div {
    @apply text-base font-montserrat !text-green-1000
}

body button[data-selected=true] div {
    @apply !text-white text-base
}

div[role="tabpanel"] {
    @apply hidden
}

.camp-type-radio span,
.camp-checkboxes label span::before {
    @apply border-orange-1000
}

.camp-checkboxes label span:nth-child(2)::before,
.camp-type-radio span:nth-child(2){
    @apply border-1
}

.camp-checkboxes label span::after, .camp-checkboxes label span,
.camp-checkboxes label span::before {
    @apply !rounded
}

.camp-type-radio div span {
    @apply text-gray-300 text-sm
}

@media(min-width:768px) {
    .conical-image {
        background-size: 100%;
    }
}

@media(min-width:1200px) {
    .conical-image {
        background-size: 55%;
    }
}